@{
	ViewData["Title"] = "Home Page";
}
<head>
	<style>
		h1{
			color: #7b1756;
			;
		}
		#menu{
			display:flex;
			justify-content:space-between;
		}
	</style>
</head>

<div id="up" style="text-align:center; ">
	<img style="width:250px" src="img/logo3.png">
	<hr />
	<h1>За нас</h1>
	<hr />
	<div id="video" style="justify-content:center;">
		<video src="img/video1.mp4" controls autoplay loop muted preload="auto" width="1000" height="360">
		</video>
	</div>
</div>
<hr/>
<div id="center" style="display:flex; font-size:20px; color:#7b1756;">
	<div class="left">
		<img style="width:400px;border:solid 1px #42042b; margin:10px 10px 10px 10px;" src="img/homeimg1.jpg" />
		<h3>С какво сме специални?</h3>
		<p style="">Най-специалното нещо в Muffins Kingdom е, че ние се стараем всекя хапка да е наслада за вас. Ние сме тръгнали само с идеята да даваме на хората щастие и стигнахме до развит бизнес, готов да удовлетвори всяка ваша нуждар когато ви се дояде нещо сладко!</p>
	</div>
	<div class="right">
		<h3 style="margin-left:30px;">Кои сме ние?</h3>
		<p style="margin-left:30px;">
			Добре дошъл в Muffins Kingdom – твоето място за висококачествени мъфини! Потопи се в симфония от вкусове, създадена от качествени съставки по оригинални рецепти. Нашите капкейкове и мъфини са тържество на вкуса и красотата – опитай капкейк с текстура на торта или мъфин с усещане за пухкаво занаятчийско хлебче. Muffins Kingdom се гордеем с нашия стремеж към високо качество. Всеки мъфин създаваме с внимание, за да постигнем перфектен баланс на вкусове. От вечни класики до иновативни рецепти, нашата селекция предлага нещо специално за всеки.

		</p>
		<div style="display:flex;">
			<img style="width:400px;border:solid 1px #42042b;margin-left:20px;" src="img/homeimg2.jpg" />
			<img style="width:400px;border:solid 1px #42042b;margin-left:20px;" src="img/homeimg3.jpg" />

		</div>
	</div>
</div>
<hr/>
<br/>
<h2 style="text-align:center;color:#7b1756;">С какво сме по-добри от другите?</h2>
<hr />
<div id="menu">
	
	<div id="menuLeft">
		<img src="img/borderimg.jpg"/>
	</div>
	<div id="menuCenter" style="text-align:center;">
		<ul style="font-size:24px;color:#7b1756;;line-height:3; list-style:none;">
			<img style="width:100px" src="img/muffin1.png" />
			<li>Продуктите ни винаги са пресни и вкусни.</li>
			<li>Приготвени са само с натурални съставки.</li>
			<img style="width:100px" src="img/bisk1.png" />
			
			<li>Минават през тест от експерти.</li>
			<li>Правил доставка из цяла България.</li>
			<img style="width:150px" src="img/lillis1.png" />

			<li>Доставка от 1 до 2 дни.</li>
			<li>Любезен персонал.</li>
			<img style="width:100px" src="img/cake1.png" />

			<li>Одобрение от около 10 000 доволни клиента!</li>
			<li>Всечко е поднесено с усмивка и настроение.</li>

		</ul>
	</div>
	<div id="menuRight">
		<img src="img/borderimg.jpg" />
	</div>

</div>


<hr/>
